@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-hsl: 228, 61%, 54%;
  --background-hsl: 212, 13%, 13%;
}

body {
  color: hsl(var(--foreground-hsl));
  background: hsl(var(--background-hsl));
}